In [1]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
from sklearn.linear_model import LogisticRegression

In [2]:
data=pd.read_csv('framingham.csv')
data.head(n=10)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
5,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
7,0,45,2.0,1,20.0,0.0,0,0,0,313.0,100.0,71.0,21.68,79.0,78.0,0
8,1,52,1.0,0,0.0,0.0,0,1,0,260.0,141.5,89.0,26.36,76.0,79.0,0
9,1,43,1.0,1,30.0,0.0,0,1,0,225.0,162.0,107.0,23.61,93.0,88.0,0

In [3]:
col = ['male','age','education','currentSmoker','cigsPerDay','BPMeds','prevalentStroke','prevalentHyp','diabetes','totChol','sysBP','diaBP','BMI','heartRate','glucose','TenYearCHD']
data = pd.read_csv('framingham.csv',names=col,header=1)
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
1,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
2,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
3,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
4,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0

In [4]:
data.tail()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
4234,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4235,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4236,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4237,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4238,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [5]:
data.count()

male               4239
age                4239
education          4134
currentSmoker      4239
cigsPerDay         4210
BPMeds             4186
prevalentStroke    4239
prevalentHyp       4239
diabetes           4239
totChol            4189
sysBP              4239
diaBP              4239
BMI                4220
heartRate          4238
glucose            3851
TenYearCHD         4239
dtype: int64

In [6]:
data.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4239.000000,4239.000000,4134.000000,4239.000000,4210.000000,4186.000000,4239.000000,4239.000000,4239.000000,4189.000000,4239.000000,4239.000000,4220.000000,4238.000000,3851.000000,4239.000000
mean,0.429111,49.582685,1.978955,0.494220,9.008076,0.029623,0.005898,0.310686,0.025714,236.709477,132.360816,82.900802,25.800524,75.878008,81.964944,0.151923
std,0.495008,8.572413,1.019430,0.500026,11.923070,0.169564,0.076578,0.462829,0.158298,44.591951,22.032179,11.910151,4.080284,12.026600,23.957312,0.358988
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.395000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [7]:
feature = ['diabetes','prevalentStroke','prevalentHyp','currentSmoker','age','male']

In [8]:
X = data[feature]
Y = data.TenYearCHD

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train , X_test , Y_train , Y_test = train_test_split(X,Y,random_state=0)

In [11]:
log_reg = LogisticRegression()
log_reg.fit(X_train,Y_train)

LogisticRegression()

In [12]:
Y_pred = log_reg.predict(X_test)

In [13]:
from sklearn.metrics import accuracy_score , recall_score
from sklearn.metrics import confusion_matrix

In [14]:
accuracy_score(Y_test , Y_pred)

0.8575471698113207

In [15]:
Y_test.value_counts()

0    904
1    156
Name: TenYearCHD, dtype: int64

In [16]:
Y_test.mean()

0.1471698113207547

In [17]:
print("true CHD label:     "),Y_test.values[0:15]

true CHD label:

(None, array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], dtype=int64))

In [18]:
print("false CHD label:    "),Y_pred[0:15]

false CHD label:

(None, array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64))

In [19]:
confusion_matrix(Y_test,Y_pred)

array([[903,   1],
       [150,   6]], dtype=int64)